@import '../../styles/variables';

.wrapper {
  width: 270px;
  position: relative;
  margin-bottom: 24px;
}
.wrapperActive {
  z-index: 999;
}

.label {
  z-index: 2;
  position: relative;
}

.container {
  position: relative;
}

.opener {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 2px;
  border: 1px solid $grayColor;
  padding: 5px 32px 5px 12px;
  color: $darkColor;
  transition: all $baseTransition;
  &.openerFlat {
    border-color: transparent;
    .containerActive & {
      border-color: $grayColor;
    }
  }
}

.innerLabel {
  margin-right: 8px;
  font-weight: 600;
}

.openerValue {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 16px/20px $altFont;
}

.openerIcon {
  position: absolute;
  top: 3px;
  right: 4px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openerIconDefault {
  font-size: 10px;
}

.drop {
  position: absolute;
  top: -32px;
  left: -16px;
  right: -16px;
  padding-top: 80px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba($primaryColor, 0.12);
  .containerNoLabel & {
    top: -16px;
    padding-top: 64px;
  }
}

:global .datepicker-single {
  :local .drop {
    padding-bottom: 16px;
  }
}

.dpHeading {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.headRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dpTitle {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}

.monthBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $lightColor;
  transition: all $baseTransition;
  &:hover {
    color: $secondaryColor;
  }
}

.pickerHolder {
  padding: 0 16px;
}

.actions {
  display: flex;
  box-shadow: 0 -1px 0 0 $ultraLightColor;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #fff;
}
.resetBtn {
  .container & {
    height: 32px;
    color: rgba($darkColor, 0.7);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    background: transparent;
    border: none;
    padding: 0;
    &:hover {
      background: transparent;
      color: $secondaryColor;
    }
    &:active {
      background: transparent;
      color: $secondaryColor;
    }
  }
}

.applyBtn {
  .container & {
    height: 32px;
    border-radius: 2px;
    width: 100px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
