@import '../../../../styles/variables';

.tabContent{
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 40px 32px;
  @include mobile {
    padding: 16px;
  }
}

.checkbox{
  margin-bottom: 24px;
}

.separator{
  margin: 16px 0 40px;
  height: 1px;
  background: $grayColor;
}
