@import '../../../../styles/variables';

.separator {
  margin: 16px 0 40px;
  height: 1px;
  background: $grayColor;
}

.tabContent{
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 40px 32px;
}

.rewards {
  background: #fff;
  padding: 24px;
  margin-top: 0;
}

.equal {
  position: relative;
  display: flex;
  justify-content: center;
  span{
    position: absolute;
    padding-top: 30px;
  }
}

