@import '../../styles/variables';

.container {
  background:  #073653 url(../../assets/images/bg-login.jpg) no-repeat fixed 50% 0 / cover;
  display: flex;
  justify-content: flex-end;
  @include tablet{
    min-height: 100vh;
    padding: 30px;
    align-items: center;
    justify-content: center;
  }
  @include mobile {
    background: #fff;
    padding: 0;
  }
}

.leftCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 48px;
  opacity: 0;
  transition: opacity $baseTransition;
  @include smallDesktop {
    padding: 30px;
  }
  @include tablet {
    display: none;
  }
  .containerInit &{
    opacity: 1;
  }
}

.introText {
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  color: #fff;
  @include smallDesktop {
    font-size: 18px;
    line-height: 24px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding: 30px 160px;
  min-width: 750px;
  max-width: 750px;
  background-color: #fff;
  border-radius: 28px 0 0 28px;
  transform: translateX(750px);
  transition: transform $baseTransition;
  @include smallDesktop {
    padding: 30px 100px;
    min-width: 600px;
    max-width: 600px;
    transform: translateX(600px);
  }
  @include tablet {
    padding: 32px 64px 77px;
    border-radius: 2px;
    min-width: 440px;
    max-width: 440px;
    transform: none;
    min-height: 0;
  }
  @include mobile {
    padding: 15px;
    border-radius: 0;
    width: 100%;
    min-width: 0;
    max-width: none;
  }
  .containerInit &{
    transform: translateX(0);
  }
}

.logo{
  align-self: center;
  margin-bottom: 180px;
  height: 90px;
  @include smallDesktop {
    margin-bottom: 100px;
  }
  @include tablet {
    margin-bottom: 60px;
  }
  @include mobile {
    margin-bottom: 30px;
  }
}

.title{
  margin-bottom: 8px;
}

.messageBox{
  margin-top: 16px;
}

.text{
  margin: 24px 0;
}

.back {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  padding: 3px 0;
  color: $lightColor;
  @include tablet {
    top: 15px;
    left: 15px;
  }
}

.btn{
  margin-top: 20px;
  width: 192px;
  @include tablet {
    width: 100%;
  }
}

.message {
  margin-top: 15px;
}
