@import '../../styles/variables';

.link {
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
  background: none;
  font: inherit;
  outline: none;

  cursor: pointer;
  color: $primaryColor;
  transition: color $baseTransition;
  &:hover {
    color: $secondaryColor;
  }
}
